<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.dmcapps.navigationfragmentexample">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- SUPPORT ACTIVITIES -->
        <activity
            android:name=".v7.SupportExamplesActivity"
            android:label="@string/title_activity_navigation_drawer_clear_stack_example"></activity>
        <activity android:name=".v7.SingleStackExample.SingleStackNavigationExampleActivity" />
        <activity android:name=".v7.MasterDetailExample.MasterDetailNavigationExampleActivity" />
        <activity
            android:name=".v7.ViewPagerExample.ViewPagerNavigationExampleActivity"
            android:label="@string/title_activity_tab_navigation_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TestIntentLaunchingActivity"
            android:label="@string/title_activity_test_intent_launching"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".v7.ListExample.ListExampleActivity" />
        <activity
            android:name=".v7.DrawerExample.NavigationDrawerExampleActivity"
            android:label="@string/title_activity_navigation_drawer_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".v7.OverrideDefaultAnimationsExample.OverrideDefaultAnimationsExampleActivity" />
        <activity android:name=".v7.GitIssue5Example.GitIssue5ExampleActivity" />
        <activity android:name=".v7.GitIssue5Example.GitIssue10ExampleActivity" />
        <activity
            android:name=".v7.DrawerClearStackExample.NavigationDrawerClearStackExampleActivity"
            android:label="@string/title_activity_navigation_drawer_clear_stack_example"
            android:theme="@style/AppTheme.NoActionBar"></activity>

        <!-- NON-SUPPORT ACTIVITIES -->
        <activity
            android:name=".v17.NonSupportExamplesActivity"
            android:label="@string/title_activity_navigation_drawer_clear_stack_example"></activity>
        <activity android:name=".v17.SingleStackExample.SingleStackNavigationExampleActivity" />
        <activity
            android:name=".v17.ViewPagerExample.ViewPagerNavigationExampleActivity"
            android:label="@string/title_activity_tab_navigation_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".v17.ListExample.ListExampleActivity" />
        <activity
            android:name=".v17.DrawerExample.NavigationDrawerExampleActivity"
            android:label="@string/title_activity_navigation_drawer_example"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".v17.OverrideDefaultAnimationsExample.OverrideDefaultAnimationsExampleActivity" />
        <activity
            android:name=".v17.DrawerClearStackExample.NavigationDrawerClearStackExampleActivity"
            android:label="@string/title_activity_navigation_drawer_clear_stack_example"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".v17.TransitionExample.TransitionExampleActivity"></activity>
    </application>

</manifest>